<div id="frmPessoaSel">
   <pesquisa-base [entidade]="entidade">
     <div class="camposFiltros">xxxxx

          asdsadsadasd
     </div>

   </pesquisa-base>


  <table  class="table table-hover">
    <thead class="thead-light">
      <tr>
        <th scope="col">Id</th>
        <th scope="col">Nome</th>
        <th scope="col">Endereço</th>
      </tr>
    </thead>
    <tbody>
        <tr *ngFor="let item of entidade.dados; let i = index">
          <td><a [routerLink]="['/pessoas/cadastro/',item.id]">{{item.id}}</a></td>
          <td>{{item.nome}}</td>
          <td>{{item.endereco}}</td>
        </tr>
    </tbody>    
  </table>
</div>

